.modalOverlay {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.deleteMessageContainer {
    display: flex;
    width: 50%;
    height: 50px;
    margin-top: 300px;
}


.submitButton {
    background-color: #82CCDD;
    border-radius: 0 10px 10px 0;
    width: 200px;
}

.cancelButton {
    background-color: red;
    border-radius: 10px 0 0 10px;
    width: 200px;
}

.icon {
    color: white;
}

