.chatContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8ABEE6;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
    flex-basis: 0;
    flex-grow: 17;
}
