.header {
    width: 100%;
    background-color: #8ABEE6;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 800;
    color: white;
    border-radius: 5px;
    flex-basis: 0;
    flex-grow: 2;
}

.headerChatName {
    margin-left: 30px;
}
