.modalOverlay {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.addMessageContainer {
    width: 50%;
    margin-top: 300px;
}

.formContainer {
    display: flex;
}

.textMessage {
    width: 100%;
    background-color: #343757;
    border-radius: 10px 0 0 10px;
    border-right: black solid 1px;
    color: #f5f6fa;
    padding: 10px;
}

.submitButton {
    background-color: #82CCDD;
    border-radius: 0 10px 10px 0;
    width: 50px;
}

.cancelButton {
    background-color: red;
    border-radius: 10px  0 0 10px;
    width: 50px;
}

.sendIcon {
    color: #f5f6fa;
}

