.footer {
    width: 100%;
    background-color: #8ABEE6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    color: white;
    border-radius: 5px;
    flex-basis: 0;
    flex-grow: 1;
}
