.avatarContainer {
    position: relative;
}

.imgAvatar {
    height: 70px;
    width: 70px;
    border: 2px solid #f5f6fa;
    border-radius: 50%;
}

.statusOnLine {
    background-color: #4CD137;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
}

.statusOfLine {
    background-color: #C23616;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
}
